.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 5px rgb(191, 211, 238);
}

.header > h2 {
    margin: 0px 0px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.boxContainer {
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(191, 211, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%
}

button {
    padding: 10px;
    border: 1px solid rgb(191, 211, 238);
    border-radius: 0px;
    font-size: 0.75rem;
    background-color: white;
    color:rgb(28, 95, 182);
}

button:hover {
    background-color: rgb(6, 84, 187);
    color: white;
}

.boxContainer > button {
    margin-top: 5px;
    margin-bottom: 5px;
}

.adderDiv {
    display: flex;
    width: 100%;
    align-self: center;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
    grid-gap: 20px;
    width: 100%;
}

.gridBox {
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgb(191, 211, 238);
    margin: 5px;
    border-radius: 5px;
  }

.managerGrid {
    display: grid;
    grid-template-columns: 360px 600px;
    grid-gap: 20px;
    width: 75%;
}

.managerContainer {
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgb(191, 211, 238);
    margin: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.managerContainer > button {
    margin-top: 10px;
}

.watcherList {
    align-self: flex-start;
    margin-left: 60px;
}

.currencySelector {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

label {
    margin-right: 10px;
    color:rgb(28, 95, 182);
}

input {
    border: 1px solid rgb(191, 211, 238);
}

h1 {
    color:rgb(6, 84, 187);
}

h2 {
    color:rgb(6, 84, 187);
}

h3 {
    color:rgb(6, 84, 187);
}

p {
   color: rgb(6, 84, 187);
}

.priceSpan {
    display: flex;
    justify-content: space-between;
}

.green {
    color: rgb(44, 143, 44);
}

.red {
    color: rgb(201, 67, 67);
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    margin-top: 2px;
  }
  
  .predictionSliderDiv {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 180px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 17px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: rgb(144, 179, 224);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(144, 179, 224);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  